@import '../rules/variables';
@import '../rules/mixins';
@import './menu.scss';

.header {
    margin-top: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include cmq(640px) {   
        justify-content: flex-end;
    }

    .socials {
        @include cmq(640px) {   
            position: fixed;
            right: 15px;
            bottom: 10px;
            z-index: 2;
        }
    }
    

    &__icon {
        display: inline-block;

        font-size: 25px;
        color: $primary_black;

        @include cmq(640px) {  
            display: block;
        }

        &:first-child {
            margin-right: 18px;

            @include cmq(640px) {  
                margin-right: 0;
            }
        }

        &:not(:first-child) {
            margin: 0 18px;

            @include cmq(640px) {  
                margin: 10px 0 0 0;
            }
        }

        &:hover,
        &:focus {
            animation-name: bounce;
            animation-duration: .6s;
        }

        &:active {
            opacity: .7;
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-3px);  
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-1px);
    }

    100% {
        transform: translateY(0);
    }
}