/* Base */
@import '../rules/variables';
@import '../rules/base';
@import '../rules/layout';
@import '../rules/mixins';

/* Uploads */
@import '../uploads/iconFont';

/* Main */
.about-me {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include cmq(1150px) {
        flex-direction: column;
    }

    .title_large,
    .subtitle {
        @include cmq(640px) {
            text-align: center;
        }
    }

    &__block {
        &:nth-child(1) {
            width: 50%;
            
            @include cmq(1150px) {
                width: 100%
            }
        }

        @include cmq(1150px) {
            width: 100%
        }

        &:nth-child(2) {
            @include cmq(1150px) {
                width: fit-content;

                position: absolute;
                top: 60px;
                right: 0;
            }

            @include cmq(800px) {
                top: -30px;
                left: 180px;
            }

            @include cmq(640px) {
                position: fixed;
                left: unset;
                top: unset;
                right: 13px;
                bottom: 130px;
            }
        }
    }

    .box {
        justify-content: space-between;
    }

    &__info {
        margin-top: 30px;

        color: $primary_black;
        opacity: .6;

        &__item {
            margin: 5px 0;

            display: flex;
            align-items: center;
        }
        &__icon {
            font-size: 24px;
        }
        &__text {
            margin-left: 20px;

            font-size: 16px;
            font-weight: 500;
        }
    }

    &__experience {
        height: 435px;

        padding-right: 30px;

        overflow: auto;

        @include overflowScroll;

        @include cmq(1500px) {
            margin-right: 20px;
        }

        @include cmq(1150px) {
            width: 50%;
        }

        @include cmq(480px) {
            width: 100%;
        }
        
        &__item {
            margin: 30px 0;
        }

        &__title {
            opacity: .7;
        }

        &__text {
            margin-bottom: 10px;

            font-size: 16px;
            color: $primary_black;
            opacity: .8; 

            &:nth-child(3) {
                opacity: .7;
            }

            &.underline {
                display: inline-block;
                
                &:hover,
                &:focus {
                    &:before {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }
        }
    }

    &__skills {
        max-width: 445px;

        @include cmq(1500px) {
            max-width: 350px;
        }
       
        @include cmq(1150px) {
            max-width: 50%;
        }

        @include cmq(500px) {
            max-width: 45%;
        }
        
        @include cmq(480px) {
            max-width: 100%;
            margin-bottom: 20px;
        }
        
        &__list {
            margin-top: 30px;
            display: flex;
            flex-wrap: wrap;
        }
        &__item {
            padding: 12px 20px;
            margin: 0 15px 15px 0;

            border-radius: 20px;

            font-size: 16px;
            color: #fff;
            font-weight: 500;
        }
    }

    &__avatar {
        max-width: 500px;
        border-radius: 50%;

        object-fit: cover;

        @include cmq(1500px) {
            max-width: 400px;
        }

        @include cmq(1150px) {
            max-width: 250px;
        }

        @include cmq(860px) {
            max-width: 200px;
        }

        @include cmq(800px) {
            max-width: 30px;
        }
    }
}

