.container {
    width: 100%;
    max-width: 1600px;
    height: 100vh;

    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: relative;
}

.section {
    margin-top: 50px;
}

.box {
    margin-top: 50px;

    display: flex;
    align-items: flex-start;  
}

.title_large,
.subtitle,
.title_tiny {
    color: $primary_black;
    opacity: .8;
}

.title_large {
    font-size: 54px;
    font-weight: 500;
}

.title_tiny {
    margin-bottom: 15px;

    font-size: 20px;
    font-weight: 500;
}

.subtitle {
    margin-top: 10px;
    font-size: 24px;
    font-weight: normal;
}

.underline {
    position: relative;

    &:before {
        content: '';
        width: 30%;
        height: 1px;

        background-color: $primary_black;

        position: absolute;
        left: 0;
        bottom: -3px;

        opacity: 0;

        transition: 0.2s ease-in-out;
    }
}

.page {
    width: 100%;
    padding: 0 20px;
    margin-top: 50px;

    position: absolute;
    top: 5%;
    left: 0;

    &-enter {
        opacity: 0;
        transform: scale(1.1);

        &-active {
            opacity: 1;
            transform: scale(1);
            transition: opacity 300ms, transform 300ms;
        }
    }

    &-exit {
        opacity: 1;
        transform: scale(1);

        &-active {
            opacity: 0;
            transform: scale(0.9);
            transition: opacity 300ms, transform 300ms;
        }
    }
}