@import '../rules/mixins';

.container {
    width: 100%;
    max-width: 1600px;
    height: 100vh;

    margin: 0 auto;
    padding: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include cmq(1500px) {
        max-width: 1200px;
        padding: 0 40px;
    }

    @include cmq(1150px) {
        max-width: 900px;
    }

    @include cmq(640px) {
        max-width: 500px;
        padding: 0 20px;
    }

    @include cmq(380px) {
        padding: 0 10px;
    }
}

.main {
    min-height: 720px;
    position: relative;

    @include cmq(1500px) {
        min-height: auto;
        margin-bottom: 50px;
    }
}

.section {
    width: 100%;

    position: absolute;
    top: 5%;
    left: 0;
    
    @include cmq(1500px) {
        margin-top: 50px;

        position: unset;
    }

    &-enter {
        opacity: 0;
        transform: scale(1.1);

        &-active {
            opacity: 1;
            transform: scale(1);
            transition: opacity 300ms, transform 300ms;
        }
    }

    &-exit {
        opacity: 1;
        transform: scale(1);

        &-active {
            opacity: 0;
            transform: scale(0.9);
            transition: opacity 300ms, transform 300ms;
        }
    }
}

.box {
    margin-top: 50px;

    display: flex;
    align-items: flex-start;  

    @include cmq(1150px) {
        margin-top: 130px;
    }

    @include cmq(860px) {
        margin-top: 70px;
    }

    @include cmq(480px) {
        margin-top: 30px;
        flex-direction: column-reverse; 
    }

}

.title_large,
.subtitle,
.title_tiny {
    color: $primary_black;
    opacity: .8;
}

.title_large {
    font-size: 54px;
    font-weight: 500;

    @include cmq(640px) {
        font-size: 38px;
    }
}

.title_tiny {
    margin-bottom: 15px;

    font-size: 20px;
    font-weight: 500;
}

.subtitle {
    margin-top: 10px;
    font-size: 24px;
    font-weight: normal;

    @include cmq(640px) {
        font-size: 18px;
    }
}

.underline {
    position: relative;

    &:before {
        content: '';
        width: 30%;
        height: 1px;

        background-color: $primary_black;

        position: absolute;
        left: 0;
        bottom: -3px;

        opacity: 0;

        transition: 0.2s ease-in-out;
    }
}
